
#canvas-container {
   width: 100%;
   text-align:center;
}

.myCanvas {
   display: inline;
}

body {
	background-color: #666;
	color: white;
	text-align: center;
}

.winner {
	background-color: #8600b3;
	text-size: 30px;
	margin-bottom: 30px;
	padding: 5px 0px 5px 0px;
}
